.btn {
  $thickness: 0.125rem;

  cursor: pointer;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  padding: 2 * $thickness;

  @media (min-width: 860px) and (min-height: 431px) {
    font-size: 2rem;
  }

  &:hover,
  &:active {
    color: #000;

    & .btn-inner {
      outline: $thickness solid #0bd998;
      background-color: #ba9044;
    }
  }

  &-inner {
    outline: $thickness solid #b46a21;
    border: $thickness solid #000;
    border-radius: 0.125rem;
    background-color: #592e08;
    box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.6);
  }

  &-game {
    max-width: 15rem;
    width: 100%;
  }

  &-game &-inner {
    padding: 0.75rem 1.5rem;

    @media (min-width: 860px) and (min-height: 431px) {
      padding: 1rem 2rem;
    }
  }

  &-icon {
    .btn-inner {
      padding: 0.5rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      @media (min-width: 760px) and (min-height: 500px) {
        width: 3rem;
        height: 3rem;
      }
    }

    path {
      fill: #b46a21;
    }

    &:hover,
    &:active {
      path {
        fill: #000;
      }
    }
  }

  &-sound-disabled {
    .btn-inner {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 2 * $thickness;
        border-radius: 2 * $thickness;
        top: 45%;
        left: 10%;
        transform: rotate(45deg);
        background-color: #bb152d;
      }
    }
  }

  &-help-container {
    position: relative;
  }

  &s-settings {
    display: flex;
    gap: 2rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1;
  }
}
