.gameplay {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    gap: 2rem;
    margin: 1.5rem auto;
    animation: slide-down 0.6s forwards;

    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: initial;
      margin: 1.5rem;
    }

    @media (min-width: 900px) and (min-height: 900px) {
      margin: 1.5rem 1.5rem 25vh;
    }
  }

  &-main {
    animation: popup 0.5s ease-out forwards;
    transform-origin: center;
  }

  &-round {
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem auto 7rem;
    text-align: center;

    @media (min-width: 800px) and (min-height: 500px) {
      font-size: 2rem;
      margin: 2rem auto 7rem;
    }
  }
}
