.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 2rem;
  padding: 1.5rem;
  animation: popup 0.5s ease-out forwards;

  &-img {
    width: clamp(100px, 85vh, 860px);
  }
}
